<div class="weather_container" *ngIf="weatherData$ | async as weatherData">
    <div class="weather_container__left">
        <app-search-box (selectedCityEventEmitter)="onSelectedCityEventEmit($event)"></app-search-box>

        <div class="weather_container__left__location_container" *ngIf="locationData$ | async as locationData">
            <div class="weather_container__left__location_container__city ta-center w-100">
                <ng-container *ngIf="!locationData.full_name">
                    <span>{{ locationData?.city }}</span>,
                    <span>{{ locationData?.country }}</span>
                </ng-container>
                <span *ngIf="locationData.full_name">{{ locationData.full_name }}</span>
            </div>
            <div class="weather_container__left__location_container__country">{{ locationData?.country_name }}</div>
        </div>


        <div class="weather_container__temperature">
            <span class="weather_container__temperature__value">{{ weatherData.current.__temp }}</span>
            <span class="weather_container__temperature__operator">℃</span>
        </div>

        <div class="weather_container__today_time ta-center">{{ dateFormatted$ | async }}</div>

        <div class="weather_container__description_container">
            <div *ngFor="let item of weatherData.current.weather" class="ta-center" style="margin: 0 auto">
                <div style="text-transform: capitalize;">{{ item.description }}</div>
                <img src="{{ weatherIconRepositoryUrl + item.icon + '@2x.png' }}" alt="Current Weather" width="44">
            </div>
        </div>
    </div>
    <div class="weather_container__right">
        <div class="weather_container__right__inner">
            <app-map [latLon]="{ lat: weatherData.lat, lon: weatherData.lon }"></app-map>

            <div style="display: flex">
                <div style="width: 50%; padding-right: 10px">
                    <app-current-weather [currentWeatherData]="weatherData.current" [title]="'Current Highlights'"></app-current-weather>
                </div>

                <div style="width: 50%; padding-left: 10px">
                    <app-current-weather [currentWeatherData]="weatherData.daily[activeDayNo]" [title]="activeDayName"></app-current-weather>
                </div>
            </div>

            <app-this-week [weeklyData]="weatherData.daily" (activeItemEventEmitter)="onActiveItemEventEmit($event)"></app-this-week>
        </div>
    </div>
</div>
