.cards-container {
  padding: 5px;
  width: 100%;
  display: flex;
  place-content: center space-between;
  align-items: center;
  padding-top: 10px;
  cursor: pointer;
}

.__isActive {
  background-color: #e5e5e7;
}

.temperature-container {
  font-size: 12px;
}

.application-card {
  min-width: 100px;
}

h3 {
  margin-bottom: 3px;
  text-decoration: underline;
  padding-left: 7px;
}
