/**
Main html styling
 */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: PoppinsRegular, 'Helvetica Neue', sans-serif;
  background-color: #d6d7da;
}
* {
  box-sizing: border-box;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}
